input[type=button] {
	width: 15em;
	height: 2em;
}

input:not([type=button]) {
	padding-left: 15px;
}

table tr td select {
	width: 100%;
}

body {
}

div#content, div#results {
}

div#content {
	width: 100%;
	height: 155px;
}

div#results {
	height: calc(100% - 180px);
	position: relative;
	overflow: hidden;
	border: 1px solid black;
	padding: 10px;
}

div#content > p {
	margin: 5px 0;
}

span#serverUrl {
	display: none;
}

a, a:visited {
	color: darkblue;
	text-decoration: none;
}

a:hover {
	color: darkblue;
	text-decoration: underline;
}
